In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\mohit\Downloads\Vignan_Projects-main (1)\Vignan_Projects-main\matchess.csv")

In [4]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,winner,venue
0,1,2008,Chandigarh,19/04/2008,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali"
1,2,2008,Delhi,19/04/2008,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,Delhi Daredevils,Feroz Shah Kotla
2,3,2008,Mumbai,20/04/2008,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,Royal Challengers Bangalore,Wankhede Stadium
3,4,2008,Kolkata,20/04/2008,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,Kolkata Knight Riders,Eden Gardens
4,5,2008,Jaipur,21/04/2008,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,normal,Rajasthan Royals,Sawai Mansingh Stadium

In [5]:
#1
matches_2008 = df[df['season'] == 2008]
most_wins_2008 = matches_2008['winner'].value_counts().idxmax()

In [7]:
most_wins_2008

'Rajasthan Royals'

In [8]:
#2
most_city = df['city'].value_counts().idxmax()

In [9]:
most_city

'Mumbai'

In [13]:
#5
df['toss_win_matchwin'] = df['toss_winner'] == df['winner']
toss_effect = df['toss_win_matchwin'].mean() * 100

In [14]:
toss_effect

np.float64(50.520833333333336)

In [16]:
#3,4
df.groupby("toss_decision")["winner"].count()

toss_decision
bat      262
field    314
Name: winner, dtype: int64