In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/sai sharath reddy/OneDrive/Desktop/matches(1).csv")

In [4]:
data.head()

,SINO,YEAR,City,Date,Team 1,Team 2,Toss_Winner,Toss_Decision,Result_type,Winners,Location
0,1,2008,Bangalore,18-04-2008,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,Kolkata Knight Riders,M Chinnaswamy Stadium
1,2,2008,Chandigarh,19-04-2008,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali"
2,3,2008,Delhi,19-04-2008,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,Delhi Daredevils,Feroz Shah Kotla
3,4,2008,Mumbai,20-04-2008,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,Royal Challengers Bangalore,Wankhede Stadium
4,5,2008,Kolkata,20-04-2008,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,Kolkata Knight Riders,Eden Gardens

Which team had the highest win percentage in this dataset?

In [12]:
win_percentage=data['Winners'].value_counts()
a=win_percentage/100
a

Winners
Mumbai Indians                 0.80
Chennai Super Kings            0.79
Royal Challengers Bangalore    0.70
Kolkata Knight Riders          0.68
Rajasthan Royals               0.63
Kings XI Punjab                0.63
Delhi Daredevils               0.56
Sunrisers Hyderabad            0.34
Deccan Chargers                0.29
Pune Warriors                  0.12
Gujarat Lions                  0.09
Kochi Tuskers Kerala           0.06
Rising Pune Supergiants        0.05
Name: count, dtype: float64

How often did the team winning the toss lose the match?

In [39]:
toss_count=data['Toss_Winner']==data['Winners']
loss_match=toss_count.value_counts()[False]
loss_match

np.int64(286)

Which cityâ€™s teams performed the best overall?

In [36]:
city_teams=data.groupby('City')['Winners'].value_counts()
city_teams.sort_values(ascending=False).idxmax()

('Mumbai', 'Mumbai Indians')

What percentage of matches were won by batting first versus fielding first?

In [41]:
won=data.groupby('Toss_Decision')['Winners'].count()
a=won/100
a

Toss_Decision
bat      2.61
field    3.13
Name: Winners, dtype: float64

Which team lost the most tosses but still won matches?

In [61]:
lost_toss_won_match=data[data['Toss_Winner'] != data['Winners']]
win=lost_toss_won_match['Winners'].value_counts()
win

Winners
Mumbai Indians                 39
Chennai Super Kings            37
Royal Challengers Bangalore    37
Kings XI Punjab                37
Kolkata Knight Riders          30
Rajasthan Royals               29
Delhi Daredevils               28
Sunrisers Hyderabad            20
Deccan Chargers                10
Pune Warriors                   9
Gujarat Lions                   3
Kochi Tuskers Kerala            2
Rising Pune Supergiants         2
Name: count, dtype: int64

In [63]:
t=data['Toss_Winner'].max()
t

'Sunrisers Hyderabad'