In [1]:
import pandas as pd

In [6]:
data= pd.read_csv('/Users/apple/Downloads/matches(1).csv')
data.head()

,SINO,YEAR,City,Date,Team 1,Team 2,Toss_Winner,Toss_Decision,Result_type,Winners,Location
0,1,2008,Bangalore,18-04-2008,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,Kolkata Knight Riders,M Chinnaswamy Stadium
1,2,2008,Chandigarh,19-04-2008,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali"
2,3,2008,Delhi,19-04-2008,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,Delhi Daredevils,Feroz Shah Kotla
3,4,2008,Mumbai,20-04-2008,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,Royal Challengers Bangalore,Wankhede Stadium
4,5,2008,Kolkata,20-04-2008,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,Kolkata Knight Riders,Eden Gardens

In [7]:
avg_matches_per_city = data['City'].value_counts().mean()
print(f"Average number of matches played per city: {avg_matches_per_city:.2f}")

Average number of matches played per city: 19.00

In [10]:
import pandas as pd

data = pd.read_csv('/Users/apple/Downloads/matches(1).csv')


print(data.columns.tolist())

['SINO', 'YEAR', 'City', 'Date', 'Team 1', 'Team 2', 'Toss_Winner', 'Toss_Decision', 'Result_type', 'Winners', 'Location']

In [11]:
if 'Team 1' in data.columns and 'Team 2' in data.columns:
    team_counts = data['Team 1'].value_counts() + data['Team 2'].value_counts()
    most_matches_team = team_counts.idxmax()
    print("Teams by number of matches played:\n", team_counts)
    print(f"\n Team that appeared in the most matches: {most_matches_team} ({team_counts.max()} matches)")
else:
    print("'Team 1' or 'Team 2' column missing")

Teams by number of matches played:
 Chennai Super Kings            131
Deccan Chargers                 75
Delhi Daredevils               133
Gujarat Lions                   16
Kings XI Punjab                134
Kochi Tuskers Kerala            14
Kolkata Knight Riders          132
Mumbai Indians                 140
Pune Warriors                   46
Rajasthan Royals               118
Rising Pune Supergiants         14
Royal Challengers Bangalore    139
Sunrisers Hyderabad             62
Name: count, dtype: int64

 Team that appeared in the most matches: Mumbai Indians (140 matches)

In [13]:
if 'Toss_Winner' in data.columns and 'Winners' in data.columns:
    lost_toss_df = data[data['Toss_Winner'] != data['Winners']]
    wins_after_losing_toss = lost_toss_df['Winners'].value_counts()
    if not wins_after_losing_toss.empty:
        print("Wins after losing toss:\n", wins_after_losing_toss)
        print(f"\n Team with most wins after losing toss: {wins_after_losing_toss.idxmax()} ({wins_after_losing_toss.max()} wins)")
    else:
        print("No records found where team lost toss and won match.")
else:
    print("Missing columns: 'Toss_winner' or 'winner'")

Wins after losing toss:
 Winners
Mumbai Indians                 39
Royal Challengers Bangalore    37
Chennai Super Kings            37
Kings XI Punjab                37
Kolkata Knight Riders          30
Rajasthan Royals               29
Delhi Daredevils               28
Sunrisers Hyderabad            20
Deccan Chargers                10
Pune Warriors                   9
Gujarat Lions                   3
Kochi Tuskers Kerala            2
Rising Pune Supergiants         2
Name: count, dtype: int64

 Team with most wins after losing toss: Mumbai Indians (39 wins)

In [15]:
consistent_cities = []

if 'City' in data.columns and 'Toss_Winner' in data.columns and 'Winners' in data.columns:
    for city, group in data.groupby('City'):
        if all(group['Toss_Winner'] == group['Winners']):
            consistent_cities.append(city)
    if consistent_cities:
        print("Cities where toss winner always won:", consistent_cities)
    else:
        print("No city where toss winner always won.")
else:
    print("Missing columns: 'city', 'toss_winner', or 'winner'")

Cities where toss winner always won: ['Bloemfontein', 'Indore', 'Kanpur']

In [16]:
if 'Toss_Decision' in data.columns and 'Toss_Winner' in data.columns and 'Winners' in data.columns:
    bat_df = data[data['Toss_Decision'].str.lower() == 'bat']
    if len(bat_df) > 0:
        bat_wins = (bat_df['Toss_Winner'] == bat_df['Winners']).sum()
        bat_percentage = (bat_wins / len(bat_df)) * 100
        print(f"Percentage of matches won by team that chose to bat: {bat_percentage:.2f}%")
    else:
        print("No matches found where toss decision was 'bat'")
else:
    print("Missing columns: 'toss_decision', 'toss_winner', or 'winner'")

Percentage of matches won by team that chose to bat: 45.04%