In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/HP/Downloads/matches(1).csv")

In [3]:
data.head()

,SINO,YEAR,City,Date,Team 1,Team 2,Toss_Winner,Toss_Decision,Result_type,Winners,Location
0,1,2008,Bangalore,18-04-2008,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,Kolkata Knight Riders,M Chinnaswamy Stadium
1,2,2008,Chandigarh,19-04-2008,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali"
2,3,2008,Delhi,19-04-2008,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,Delhi Daredevils,Feroz Shah Kotla
3,4,2008,Mumbai,20-04-2008,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,Royal Challengers Bangalore,Wankhede Stadium
4,5,2008,Kolkata,20-04-2008,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,Kolkata Knight Riders,Eden Gardens

Which toss decision (bat or field) leads to more wins?

In [8]:
winner=data.groupby('Toss_Decision')['YEAR'].count()
winner

Toss_Decision
bat      262
field    315
Name: YEAR, dtype: int64

Which stadium hosted the most matches in the dataset?

In [19]:
a=data.groupby('Location')['Date'].count().idxmax()
a

'M Chinnaswamy Stadium'

Which venue saw the most wins for home teams?

In [56]:
a=data[data['Winners'] == data['Team 1']]['Location'].value_counts().idxmax()
a

'MA Chidambaram Stadium, Chepauk'

Which venue saw the most wins for away teams?

In [55]:
a=data[data['Winners'] == data['Team 2']]['Location'].value_counts().idxmax()
a

'Eden Gardens'

Is there any relationship between toss winner and match winner?

In [57]:
a=((data['Toss_Winner'] == data['Winners']).value_counts(normalize=True) * 100)
a

True     50.433276
False    49.566724
Name: proportion, dtype: float64

Which team won matches most frequently in their home city?

In [68]:
a=data.groupby('Team 1')['Winners'].value_counts()
a

Team 1               Winners
Chennai Super Kings  Chennai Super Kings            45
                     Kolkata Knight Riders           6
                     Mumbai Indians                  5
                     Delhi Daredevils                4
                     Rajasthan Royals                4
                                                    ..
Sunrisers Hyderabad  Royal Challengers Bangalore     3
                     Chennai Super Kings             2
                     Delhi Daredevils                2
                     Kings XI Punjab                 1
                     Rising Pune Supergiants         1
Name: count, Length: 117, dtype: int64

Which opponent teams faced each other most often in this dataset?

In [71]:
a=data.groupby(['Team 1', 'Team 2']).size().idxmax()
a

('Kolkata Knight Riders', 'Royal Challengers Bangalore')

Are there any stadiums where the same team keeps winning?

In [86]:
a=data.groupby(['Location', 'Winners']).size().sort_values(ascending=False).head(1)
a

Location      Winners
Eden Gardens  Kolkata Knight Riders    33
dtype: int64

In [ ]:
Which toss decision is more successful at each venue?

In [82]:
decision_success = data[data['Toss_Winner'] == data['Winners']].groupby(['City', 'Toss_Decision']).size().unstack(fill_value=0)
decision_success['Best Decision'] = decision_success.idxmax(axis=1)
print("\nToss decision success by venue:\n")
print(decision_success[['Best Decision']])

Toss decision success by venue:

Toss_Decision  Best Decision
City
Abu Dhabi                bat
Ahmedabad                bat
Bangalore              field
Bloemfontein             bat
Cape Town                bat
Centurion              field
Chandigarh             field
Chennai                  bat
Cuttack                field
Delhi                  field
Dharamsala             field
Durban                   bat
East London              bat
Hyderabad              field
Indore                 field
Jaipur                 field
Johannesburg           field
Kanpur                 field
Kimberley                bat
Kochi                    bat
Kolkata                field
Mumbai                 field
Nagpur                   bat
Port Elizabeth           bat
Pune                     bat
Raipur                 field
Rajkot                 field
Ranchi                 field
Sharjah                field
Visakhapatnam            bat

In [73]:
field_first = data[data['Toss_Decision'] == 'field']
field_first_wins = field_first[field_first['Toss_Winner'] == field_first['Winners']]
field_success_city = field_first_wins['City'].value_counts() / field_first['City'].value_counts() * 100
print("Cities where fielding first gives a higher chance of winning:\n")
print(field_success_city.sort_values(ascending=False).dropna())

Cities where fielding first gives a higher chance of winning:

City
Bloemfontein     100.000000
Kanpur           100.000000
Indore           100.000000
Kimberley        100.000000
Centurion         83.333333
Ranchi            75.000000
Kolkata           69.230769
Rajkot            66.666667
Raipur            66.666667
Abu Dhabi         66.666667
Jaipur            63.157895
Durban            60.000000
Cuttack           60.000000
Delhi             54.838710
Bangalore         54.000000
Hyderabad         52.380952
Mumbai            52.272727
Ahmedabad         50.000000
Dharamsala        50.000000
Sharjah           50.000000
Pune              50.000000
Chandigarh        50.000000
Johannesburg      50.000000
Kochi             33.333333
Cape Town         33.333333
Visakhapatnam     33.333333
Chennai           28.571429
Name: count, dtype: float64